In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1,3,5,np.nan,5,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    5.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20200511", periods=6)
dates

DatetimeIndex(['2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
               '2020-05-15', '2020-05-16'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2020-05-11 -0.579677 -0.866685 -0.688581  0.322127
2020-05-12  0.461882  1.087116  0.125865 -0.988006
2020-05-13 -1.492901  0.519476  0.119438 -0.005100
2020-05-14  2.488324 -0.715106  0.248913 -1.282823
2020-05-15  2.610032 -0.454421 -0.150090  2.469841
2020-05-16  1.587543  0.271019  0.357380  0.823892

In [12]:
df2 = pd.DataFrame({"A": 1, "B":pd.Timestamp("20200511"),"C": pd.Series(1, index=list(range(4)), dtype="int64")})
df2

   A          B  C
0  1 2020-05-11  1
1  1 2020-05-11  1
2  1 2020-05-11  1
3  1 2020-05-11  1

In [18]:
df2["D"] = pd.Categorical(["test", "train", "test", "train"])
df2["E"] = "foo"
df2

   A          B  C      D    E
0  1 2020-05-11  1   test  foo
1  1 2020-05-11  1  train  foo
2  1 2020-05-11  1   test  foo
3  1 2020-05-11  1  train  foo

In [19]:
df2.dtypes

A             int64
B    datetime64[ns]
C             int64
D          category
E            object
dtype: object

In [24]:
df2.add

<bound method _arith_method_FRAME.<locals>.f of    A          B  C      D    E
0  1 2020-05-11  1   test  foo
1  1 2020-05-11  1  train  foo
2  1 2020-05-11  1   test  foo
3  1 2020-05-11  1  train  foo>

In [25]:
df.head()

                   A         B         C         D
2020-05-11 -0.579677 -0.866685 -0.688581  0.322127
2020-05-12  0.461882  1.087116  0.125865 -0.988006
2020-05-13 -1.492901  0.519476  0.119438 -0.005100
2020-05-14  2.488324 -0.715106  0.248913 -1.282823
2020-05-15  2.610032 -0.454421 -0.150090  2.469841

In [26]:
df.tail(3)

                   A         B         C         D
2020-05-14  2.488324 -0.715106  0.248913 -1.282823
2020-05-15  2.610032 -0.454421 -0.150090  2.469841
2020-05-16  1.587543  0.271019  0.357380  0.823892

In [27]:
df.index

DatetimeIndex(['2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
               '2020-05-15', '2020-05-16'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [29]:
df.to_numpy()

array([[-0.57967692, -0.86668522, -0.68858071,  0.32212736],
       [ 0.46188194,  1.08711644,  0.12586547, -0.98800583],
       [-1.49290141,  0.51947573,  0.11943777, -0.00510041],
       [ 2.48832431, -0.71510573,  0.24891294, -1.28282296],
       [ 2.61003201, -0.45442082, -0.1500902 ,  2.46984088],
       [ 1.58754329,  0.27101947,  0.35737974,  0.82389181]])

In [30]:
df2.to_numpy() ##expensive since numpy array must contain same data types

array([[1, Timestamp('2020-05-11 00:00:00'), 1, 'test', 'foo'],
       [1, Timestamp('2020-05-11 00:00:00'), 1, 'train', 'foo'],
       [1, Timestamp('2020-05-11 00:00:00'), 1, 'test', 'foo'],
       [1, Timestamp('2020-05-11 00:00:00'), 1, 'train', 'foo']],
      dtype=object)

In [56]:
df.describe()

              A         B         C         D             1
count  6.000000  6.000000  6.000000  6.000000  6.000000e+00
mean   0.845867 -0.026433  0.002154  0.223322  1.000000e-01
std    1.673887  0.773299  0.378531  1.356854  1.520235e-17
min   -1.492901 -0.866685 -0.688581 -1.282823  1.000000e-01
25%   -0.319287 -0.649935 -0.082708 -0.742279  1.000000e-01
50%    1.024713 -0.091701  0.122652  0.158513  1.000000e-01
75%    2.263129  0.457362  0.218151  0.698451  1.000000e-01
max    2.610032  1.087116  0.357380  2.469841  1.000000e-01

In [60]:
df.drop(columns=["@",1], inplace=True)
df.T #transpose

   2020-05-11  2020-05-12  2020-05-13  2020-05-14  2020-05-15  2020-05-16
A   -0.579677    0.461882   -1.492901    2.488324    2.610032    1.587543
B   -0.866685    1.087116    0.519476   -0.715106   -0.454421    0.271019
C   -0.688581    0.125865    0.119438    0.248913   -0.150090    0.357380
D    0.322127   -0.988006   -0.005100   -1.282823    2.469841    0.823892

In [61]:
df.sort_index(axis=1,ascending=False) ##axis=0, sort index
##axis=1 sort columns
##ascending true -> small to large
##ascending false -> large to small by ascii

                   D         C         B         A
2020-05-11  0.322127 -0.688581 -0.866685 -0.579677
2020-05-12 -0.988006  0.125865  1.087116  0.461882
2020-05-13 -0.005100  0.119438  0.519476 -1.492901
2020-05-14 -1.282823  0.248913 -0.715106  2.488324
2020-05-15  2.469841 -0.150090 -0.454421  2.610032
2020-05-16  0.823892  0.357380  0.271019  1.587543

In [62]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2020-05-11 -0.579677 -0.866685 -0.688581  0.322127
2020-05-12  0.461882  1.087116  0.125865 -0.988006
2020-05-13 -1.492901  0.519476  0.119438 -0.005100
2020-05-14  2.488324 -0.715106  0.248913 -1.282823
2020-05-15  2.610032 -0.454421 -0.150090  2.469841
2020-05-16  1.587543  0.271019  0.357380  0.823892

In [68]:
df.sort_values(by="A") #sort by a specific column

                   A         B         C         D
2020-05-13 -1.492901  0.519476  0.119438 -0.005100
2020-05-11 -0.579677 -0.866685 -0.688581  0.322127
2020-05-12  0.461882  1.087116  0.125865 -0.988006
2020-05-16  1.587543  0.271019  0.357380  0.823892
2020-05-14  2.488324 -0.715106  0.248913 -1.282823
2020-05-15  2.610032 -0.454421 -0.150090  2.469841

In [69]:
df[0:3] ##slices the rows

                   A         B         C         D
2020-05-11 -0.579677 -0.866685 -0.688581  0.322127
2020-05-12  0.461882  1.087116  0.125865 -0.988006
2020-05-13 -1.492901  0.519476  0.119438 -0.005100

In [109]:
df["20200511":"20200514"] ##inlusive

                   A         B         C         D
2020-05-11 -0.579677 -0.866685 -0.688581  0.322127
2020-05-12  0.461882  1.087116  0.125865 -0.988006
2020-05-13 -1.492901  0.519476  0.119438 -0.005100
2020-05-14  2.488324 -0.715106  0.248913 -1.282823

In [110]:
##selection by label (index name)
df.loc[dates[0]], df.loc["20200515"]

(A   -0.579677
 B   -0.866685
 C   -0.688581
 D    0.322127
 Name: 2020-05-11 00:00:00, dtype: float64,
 A    2.610032
 B   -0.454421
 C   -0.150090
 D    2.469841
 Name: 2020-05-15 00:00:00, dtype: float64)

In [111]:
##selecting on a muli-axis by label
print(df.loc[:, ["A", "B"]]) ##[row, columns]
print(df.loc["20200511", :])
print(df.loc["20200511":"20200513", ["D","C"]])
# temp = df.reset_index()
# temp.loc[[0,2], ["A", "B"]]

                   A         B
2020-05-11 -0.579677 -0.866685
2020-05-12  0.461882  1.087116
2020-05-13 -1.492901  0.519476
2020-05-14  2.488324 -0.715106
2020-05-15  2.610032 -0.454421
2020-05-16  1.587543  0.271019
A   -0.579677
B   -0.866685
C   -0.688581
D    0.322127
Name: 2020-05-11 00:00:00, dtype: float64
                   D         C
2020-05-11  0.322127 -0.688581
2020-05-12 -0.988006  0.125865
2020-05-13 -0.005100  0.119438

In [112]:
##getting scalar value
df.at[dates[0], "A"]

-0.5796769225408385

In [113]:

df.iloc[3]

A    2.488324
B   -0.715106
C    0.248913
D   -1.282823
Name: 2020-05-14 00:00:00, dtype: float64

In [115]:
##select via the position of the passed integers
df.iloc[[1,4], [0,2]]

                   A         C
2020-05-12  0.461882  0.125865
2020-05-15  2.610032 -0.150090

In [116]:
df.iloc[1:3,:]

                   A         B         C         D
2020-05-12  0.461882  1.087116  0.125865 -0.988006
2020-05-13 -1.492901  0.519476  0.119438 -0.005100

In [117]:
## getting scalar by position
df.iat[1,1]

1.087116441765232

In [122]:
#this returns a series including boolean values
df["A"] > 1

pandas.core.series.Series

In [123]:
##select rows satisfying the condition
df[df["A"]>1]

                   A         B         C         D
2020-05-14  2.488324 -0.715106  0.248913 -1.282823
2020-05-15  2.610032 -0.454421 -0.150090  2.469841
2020-05-16  1.587543  0.271019  0.357380  0.823892

In [130]:
##this returns a dataframe
df>0

SyntaxError: invalid syntax (<ipython-input-130-cb4dd7b41966>, line 2)

In [125]:
##the values satisfying the condition or NaN
df[df>0]

                   A         B         C         D
2020-05-11       NaN       NaN       NaN  0.322127
2020-05-12  0.461882  1.087116  0.125865       NaN
2020-05-13       NaN  0.519476  0.119438       NaN
2020-05-14  2.488324       NaN  0.248913       NaN
2020-05-15  2.610032       NaN       NaN  2.469841
2020-05-16  1.587543  0.271019  0.357380  0.823892

In [131]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2020-05-11 -0.579677 -0.866685 -0.688581  0.322127    one
2020-05-12  0.461882  1.087116  0.125865 -0.988006    one
2020-05-13 -1.492901  0.519476  0.119438 -0.005100    two
2020-05-14  2.488324 -0.715106  0.248913 -1.282823  three
2020-05-15  2.610032 -0.454421 -0.150090  2.469841   four
2020-05-16  1.587543  0.271019  0.357380  0.823892  three

In [135]:
##finding rows the values in the selected column match
df2["E"].isin(["two", "four"])

2020-05-11     True
2020-05-12     True
2020-05-13    False
2020-05-14     True
2020-05-15    False
2020-05-16     True
Freq: D, Name: E, dtype: bool

In [136]:
##tilde makes it inverse
~df2["E"].isin(["two","four"])

2020-05-11     True
2020-05-12     True
2020-05-13    False
2020-05-14     True
2020-05-15    False
2020-05-16     True
Freq: D, Name: E, dtype: bool

In [140]:
##setting

##create a series with index defined
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range("20200511", periods=6))
s1
##add columns
df["f"] = s1

In [148]:
##set specific value = 0
df.at[dates[0],"A"] = 0
df.iloc[0,3]=-100
df

                   A         B         C           D  f  (0, 0)
2020-05-11  0.000000 -0.866685 -0.688581 -100.000000  1    -100
2020-05-12  0.461882  1.087116  0.125865   -0.988006  2    -100
2020-05-13 -1.492901  0.519476  0.119438   -0.005100  3    -100
2020-05-14  2.488324 -0.715106  0.248913   -1.282823  4    -100
2020-05-15  2.610032 -0.454421 -0.150090    2.469841  5    -100
2020-05-16  1.587543  0.271019  0.357380    0.823892  6    -100